body {
	background-color: rgb(80, 80, 80);
}

#header {
	width: 100%;
	overflow: auto;
}

#header a {
	text-decoration: none;
	width: 33.333333%;
	overflow: auto;
	float: left;
	text-align: center;
	background-color: rgb(60, 60, 60);
	padding-bottom: 15px;
	padding-top: 15px;
	margin-top: 0px;
	margin-bottom: 50px;
	font-size: 200%;
	font-weight: bold;
	color: whitesmoke;
}

#header a:hover {
	background-color: rgb(40, 40, 40);
}

button {
	all: initial;
	background-color: rgb(255, 255, 180);
	height: 80px;
	width: 80px;
/*	border: 1px solid black;*/
	margin-left: 13px;
	border-radius: 100%;
	text-align: center;
	font-size: 200%;
}

button:active {
	transform: scale(0.9);
	background-color: rgb(200, 200, 105);
	
}

.active {
	transform: scale(0.9);
	background-color: rgb(200, 200, 105);
}

#lyreContainer {
/*	border: 1px solid red;*/
	position: absolute;
	width: 700px;
	height: 300px;
	margin: auto;
	margin-top: 100px;
	position: relative;
	text-align: center;
	align-content: center;
	overflow: visible;
}